@import 'tailwindcss';
@config '../../tailwind.config.ts';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Text Sizes and Line Heights */
  --text-display-4xl: 5rem;
  --text-display-4xl--line-height: 5.375rem;
  --text-display-4xl--letter-spacing: -0.02em;

  --text-display-3xl: 3.75rem;
  --text-display-3xl--line-height: 4.5rem;
  --text-display-3xl--letter-spacing: -0.02em;

  --text-display-2xl: 3rem;
  --text-display-2xl--line-height: 3.75rem;
  --text-display-2xl--letter-spacing: -0.03em;

  --text-display-xl: 2.5rem;
  --text-display-xl--line-height: 3rem;
  --text-display-xl--letter-spacing: -0.02em;

  --text-display-lg: 2.25rem;
  --text-display-lg--line-height: 2.75rem;
  --text-display-lg--letter-spacing: -0.02em;

  --text-display-md: 2rem;
  --text-display-md--line-height: 2.75rem;
  --text-display-md--letter-spacing: -0.02em;

  --text-display-sm: 1.75rem;
  --text-display-sm--line-height: 2.375rem;

  --text-display-xs: 1.5rem;
  --text-display-xs--line-height: 2.25rem;

  --text-xl: 1.25rem;
  --text-xl--line-height: 2.125rem;

  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;
  --text-lg--letter-spacing: -0.02em;

  --text-md: 1rem;
  --text-md--line-height: 1.875rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.75rem;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5rem;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Color Palette */
  --color-base-white: #ffffff;
  --color-base-black: #000000;

  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #22252b;
  --color-neutral-950: #0a0d12;

  --color-primary-100: #ff8ceb;
  --color-primary-200: #9839a2;

  --color-error: #ee1d52;
  --color-success: #10b981;
  --color-warning: #f59e0b;

  --color-stats-purple-start: #5e2591;
  --color-stats-purple-end: #a93fa8;

  --color-rating: #f3b64c;

  /* Radius */
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.25rem;
  --radius-4xl: 1.5rem;

  /* Spacing */
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.375rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.25rem;
  --spacing-3xl: 1.5rem;
  --spacing-4xl: 2rem;
  --spacing-5xl: 2.5rem;
  --spacing-6xl: 3rem;
  --spacing-7xl: 4rem;
  --spacing-8xl: 5rem;
  --spacing-9xl: 6rem;
  --spacing-10xl: 8rem;
  --spacing-11xl: 8.75rem;

  --spacing-status-icon: 8.0625rem; /* 129px */
  --spacing-status-icon-offset: 3.0625rem; /* 49px */

  --spacing-container-max: 78rem;
  --spacing-container-max-hero: 75rem;
  --spacing-header: 5rem;

  /* Thematic Layers */
  --footer-glow: linear-gradient(
    317.05deg,
    rgba(106, 39, 160, 0.5) 14.77%,
    rgba(174, 66, 166, 0) 51.94%
  );

  /* Contact Section Dimensions */
  --spacing-contact-h-mobile: 24.125rem; /* 386px */

  /* Animations */
  --animate-spin-slow: spin 8s linear infinite;
  --animate-accordion-down: accordion-down 200ms ease-out;
  --animate-accordion-up: accordion-up 200ms ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  /* Blurs */
  --blur-hero: 20px;
  --blur-hero-mobile: 7.83234px;
}

:root {
  --radius: 0.625rem;
  --background: var(--color-base-black);
  --foreground: var(--color-neutral-25);
  --card: var(--color-base-black);
  --popover: var(--color-base-black);
  --popover-foreground: var(--color-neutral-25);
  --primary: var(--color-primary-200);
  --primary-foreground: var(--color-base-white);
  --secondary: var(--color-base-white);
  --secondary-foreground: var(--color-base-black);
  --muted: var(--color-neutral-900);
  --muted-foreground: var(--color-neutral-400);
  --accent: var(--color-neutral-800);
  --accent-foreground: var(--color-neutral-50);
  --destructive: var(--color-error);
  --border: var(--color-neutral-900);
  --input: var(--color-neutral-800);
  --ring: var(--color-primary-200);
  --brand: var(--color-primary-200);
}

.light {
  --background: var(--color-base-white);
  --foreground: var(--color-neutral-950);
  --card: var(--color-base-white);
  --card-foreground: var(--color-neutral-950);
  --popover: var(--color-base-white);
  --popover-foreground: var(--color-neutral-950);
  --primary: var(--color-primary-200);
  --primary-foreground: var(--color-base-white);
  --secondary: var(--color-base-black);
  --secondary-foreground: var(--color-base-white);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-600);
  --accent: var(--color-neutral-200);
  --accent-foreground: var(--color-neutral-950);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-200);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-brand: var(--brand);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--spacing-header);

  @media (width >= 48rem) {
    scroll-padding-top: 1.5rem;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

body {
  @apply bg-background text-foreground font-normal;
  font-family: var(--font-raleway), ui-sans-serif, system-ui;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

@layer components {
  .custom-container {
    @apply max-w-container-max mx-auto w-full ps-4 pe-4 md:ps-6 md:pe-6;
  }

  .hero-container {
    @apply max-w-container-max-hero mx-auto w-full ps-4 pe-4 md:ps-6 md:pe-6;
  }

  .card {
    @apply bg-card border-border rounded-2xl border p-4 md:p-6;
  }

  .bg-footer-glow {
    background: var(--footer-glow);
    filter: drop-shadow(0px 2.8px 2.8px rgba(0, 0, 0, 0.25));
    mask-image: linear-gradient(to bottom, transparent, black 15rem);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15rem);
  }
}
